<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sofacity.laichushu">
    <!--权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 微信支付 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <application
        android:name=".global.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Activity-->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ForgetPwdActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.RegistActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.Regist2Activity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CampaignActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.HotListActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.BookDetailActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AllCommentActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.widget.BookPlayActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.HomeSearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.InitActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CommentDetailActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CommentSendActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DirectoriesActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.NopublishBookActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PartActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CategoryActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CategoryListActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
    </application>

</manifest>
